name: Build-Debug

on:
  push:
    branches:
      - "master"
      - "v2.0"
  pull_request:
    branches:
      - "master"
      - "v2.0"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: Cysharp/Actions/.github/actions/checkout@main
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
      - run: dotnet build -c Debug
      - run: dotnet test -c Debug --no-build
